a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* link the moment it is clicked */
a:active {
  color: blue;
}

.red-input:focus {
  background: yellow;
  color: red;
}

.blue-input:focus {
  background: yellow;
  color: blue;
}

.green {
  color: green;
}

.green:hover {
  color: hotpink;
}

.green:focus {
  background: red;
  color: yellow;
}

#skyblue {
  color: skyblue;
}

.attri {
  text-align: center;
  font-family: verdana;
  font-size: 100%;
  background-color: powderblue;
  color: rgb(181, 27, 254);
  margin: 0px 0px 0px 500px;
  /* top, right, bottom, left*/
  padding: 17px 0px 0px 0px;
  /* top, right, bottom, left*/
  border: 10px solid red;
  border-radius: 10px;
  /*element의 가로세로 길이 똑같게 하고 50% 주면 circle 모양*/
  width: 200px;
  height: 50px;
  /* 특정 width로 자동 margin 가능, 그냥 auto 하면 특정 element의 existing value로 자동 margin */
  /* width: 300px;
  margin: auto; */
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}

.solid {
  border-style: solid;
}

.double {
  border-style: double;
}

.groove {
  border-style: groove;
  border-color: red green blue yellow;
  border-width: 20px 20px 20px 20px;
}

.ridge {
  border-style: ridge;
  border-color: red green blue yellow;
  border-width: 20px 20px 20px 20px;
}

.inset {
  border-style: inset;
  border-width: thick;
  margin: auto;
  background-color: #52E396;
}

.outset {
  border-style: outset;
  border-width: thick;
  margin: 10px 1350px 10px 0px;
  background-color: #52E396;
}

.none {
  border-style: none;
}

.hidden {
  border-style: hidden;
}

p.mix {
  border-style: dotted dashed solid double;
  border-width: thick;
  /*thin, medium*/
}

span.mix {
  border-style: dotted double dotted double;
  border-width: thick;
  /*thin, medium*/
}

/* 특정 element에 대해서 class 설정하면 class 이름 같아도 다르게 설정 가능 */
